{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "tmpDir": "build",
    "logs": {
        "text": "build/infection/infection-log.txt",
        "summary": "build/infection/summary-log.txt",
        "debug": "build/infection/debug-log.txt"
    },
    "phpUnit": {
        "configDir": ".",
        "customPath": "\/app\/vendor\/bin\/phpunit"
    }
}